html,body { margin:0; padding:0; height:100%; overflow:hidden; font-family: Arial; }
#bgVideo { position: fixed; top:0; left:0; width:100%; height:100%; object-fit:cover; z-index:-1; }
#box {
    width:45%;
    max-width:600px;
    margin:50px auto;
    background: rgba(0,0,0,0.55);
    border-radius:12px;
    padding:20px;
    color:white;
    text-align:center;

    /* FADE IN / OUT */
    opacity: 0;
    transition: opacity 0.7s ease;
    pointer-events: none;
}
#box.visible {
    opacity: 1;
    pointer-events: all;
}

#logo { max-width:180px; margin-bottom:10px; }
h1 { text-align:center; color:#4cc9f0; }
.section { background: rgba(255,255,255,0.1); padding:12px; margin-top:12px; border-radius:8px; text-align:left; }
a { color:#4cc9f0; text-decoration:none; }
#rulesList { max-height:180px; overflow-y:auto; padding-right:10px; }
#rulesList::-webkit-scrollbar { width:6px; }
#rulesList::-webkit-scrollbar-thumb { background:#4cc9f0; border-radius:3px; }
.slide { display:none; font-size:16px; text-align:center; }
.active { display:block; }
button { padding:8px; margin:4px; border:none; cursor:pointer; }
.navBtn { background:#3498db; color:white; }
#enter { width:100%; background:#2ecc71; color:black; font-weight:bold; margin-top:10px; }
#audioControl { margin-top:8px; font-size:14px; cursor:pointer; color:#4cc9f0; }
